@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.firstpage{
    background: #5c98b4;
    height: 120vh;
}

.header {
    padding: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
  }

body{
    background: #21bd74;
    font-family: 'Open Sans', sans-serif;
  }
  
/* almost same as below */
.searchword {
  width: 100%;
  position: relative;
  display:flex;
}

/* Specifications of the search box */
.wordsearchTerm {
  width: 100%;
  border: 3px solid #d81212;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

/* Th word which we write inside the search field */
.wordsearchTerm:focus{
  color: #2d15c4;
}

/* Search Button Specifications */
.wordsearchButton {
  width: 150px;
  height: 36px;
  border: 1px solid #a52a2a;
  background: #a52a2a;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor:pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrapsearch{
  width: 30%;
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
}

/* DropDown of languages */
.langdroplist{
  
    position: absolute;
    border: 3px solid #d81212;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#translate {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Card whcih shows all the infromation */
.card {
  background-color: #9ced8a;
  position: absolute;
  top: 75%;
  bottom: 500%;
  left:50%;
  height: 400px;
  width: 800px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
/* Contents shown inside the card */
.cardContent {
  padding: 50px 10px;
}

/* Th word which shows at the upper when we type in the search field */
#word { 
  color: #fdfdfd;
}

#myList li:nth-of-type(1n+6) {
  display: none;
}